.app {
	height: 100vh;
}

.left-image-flip, .right-image-flip {
	height: 100vh;
	width: calc(100vw * 1 / 12);
	opacity: 0.4;
	background-color: black;
	filter: alpha(opacity=60);
}

.left-image-flip {}

.right-image-flip {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb( 0, 0, 0));
}